*{
    border: 0;
    padding: 0;
    margin: 0;
}

body{
    text-align: center;
    font-family: "Roboto";
    font-size: 20px;
}

nav ,header {
    margin: 20px 0 50px;
    padding: 20px;
}
nav{
    width: 100%;

}
section{
    margin: 100px;
}
.Screenshot{
    width: 720px;
    height: 420px;
    border: solid 1px;
    padding: 5px;
}

footer{
    margin-top: 50px;

}
nav > ul{
    margin: 0 20px;
}
nav > ul > li{
    display: inline;
    margin: 0 20px;
}

.imag{
    width: 150px;
    height: 150px;
}

